mat-form-field{
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
.matDialogCont{
  margin: 20px 30px;
}

.h1Title{
  margin-bottom: 20px;
}